body {

background-color: #594a42;

color: #fff;

}

.jumbotron {

background-color: #9b8757;

}

.navbar {

background-color: #9b8757;

}

.navbar a {

color: #efe9d8;

}

.navbar a:hover {

color: #9b8757;

}

footer {

background-color: #594a42;

}

img {

border-color: #efe9d8;

}

main {

background-color: #efe9d8;

color: #594a42;

}

main.index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

h1, h2, h3 {

color: #594a42;

}

a {

color: #594a42;

}

a:hover {

color: #333;

}
